In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt

In [8]:
turnovers = pd.read_csv('/Users/iansheridan/Desktop/UCD/Turnovers1.csv')
turnovers.head
turnovers.info

<bound method DataFrame.info of       iD MATCH     SAISON COMPETITION                  BLOC SEMAINE  \
0          475  2020-2021      PRO D2       BLOC 5 - DENALI     S32
1          475  2020-2021      PRO D2       BLOC 5 - DENALI     S32
2          475  2020-2021      PRO D2       BLOC 5 - DENALI     S32
3          475  2020-2021      PRO D2       BLOC 5 - DENALI     S32
4          475  2020-2021      PRO D2       BLOC 5 - DENALI     S32
...        ...        ...         ...                   ...     ...
4400       354  2020-2021      PRO D2  BLOC 1 - PUNCAK JAYA     S12
4401       354  2020-2021      PRO D2  BLOC 1 - PUNCAK JAYA     S12
4402       354  2020-2021      PRO D2  BLOC 1 - PUNCAK JAYA     S12
4403       354  2020-2021      PRO D2  BLOC 1 - PUNCAK JAYA     S12
4404       354  2020-2021      PRO D2  BLOC 1 - PUNCAK JAYA     S12

            DATE JOURNEE DOMICILE EXTERIEUR           MATCH      Start time  \
0     12/02/2021     J19     USAP       USC  J19 USAP - USC  5828,883019968
1     12/02/2021     J19     USAP       USC  J19 USAP - USC  1224,163019968
2     12/02/2021     J19     USAP       USC  J19 USAP - USC  6230,363019968
3     12/02/2021     J19     USAP       USC  J19 USAP - USC   603,283019968
4     12/02/2021     J19     USAP       USC  J19 USAP - USC  5915,563019968
...          ...     ...      ...       ...             ...             ...
4400  25/09/2020     J04      OYO       AIX   J04 OYO - AIX          1098,6
4401  25/09/2020     J04      OYO       AIX   J04 OYO - AIX         2656,68
4402  25/09/2020     J04      OYO       AIX   J04 OYO - AIX         4318,36
4403  25/09/2020     J04      OYO       AIX   J04 OYO - AIX         5207,28
4404  25/09/2020     J04      OYO       AIX   J04 OYO - AIX         6659,44

                        JOUEUR                 POSTE EQUIPE   ADV  \
0              Quentin Etienne               ARRIERE   USAP   USC
1               Julien Facundo                PILIER    USC  USAP
2     Christiaan van der Merwe         SECONDE LIGNE    USC  USAP
3               Rynard Landman         SECONDE LIGNE    USC  USAP
4                 Darrell Dyer  TROISIEME LIGNE AILE    USC  USAP
...                        ...                   ...    ...   ...
4400                Tony Ensor               ARRIERE    OYO   AIX
4401                Tony Ensor               ARRIERE    OYO   AIX
4402                Tony Ensor               ARRIERE    OYO   AIX
4403                Tony Ensor               ARRIERE    OYO   AIX
4404             Frans van Wyk                PILIER    OYO   AIX

      TYPE TURNOVER CONCEDE Field Area Field L-R  PORTEUR -
0     Dropped Ball Unforced    22 - 50         L        NaN
1     Dropped Ball Unforced    50 - 22         R        NaN
2        Carried Into Touch    22 - GL         R        NaN
3     Dropped Ball Unforced    50 - 22        CL        NaN
4     Dropped Ball Unforced    22 - 50         C        NaN
...                     ...        ...       ...        ...
4400    Dropped Ball Forced    50 - 22        CL        NaN
4401  Dropped Ball Unforced    22 - 50        CR        NaN
4402  Dropped Ball Unforced    22 - 50         R        NaN
4403  Dropped Ball Unforced    50 - 22         C        NaN
4404      Lost at Breakdown    22 - 50        CR        NaN

[4405 rows x 19 columns]>

In [36]:
turnovers = turnovers.set_index('iD MATCH')
turnovers.head()

,DOMICILE,EXTERIEUR,MATCH,JOUEUR,POSTE,EQUIPE,ADV,TYPE TURNOVER CONCEDE,Field Area,Field L-R
iD MATCH,,,,,,,,,,
475,USAP,USC,J19 USAP - USC,Quentin Etienne,ARRIERE,USAP,USC,Dropped Ball Unforced,22 - 50,L
475,USAP,USC,J19 USAP - USC,Julien Facundo,PILIER,USC,USAP,Dropped Ball Unforced,50 - 22,R
475,USAP,USC,J19 USAP - USC,Christiaan van der Merwe,SECONDE LIGNE,USC,USAP,Carried Into Touch,22 - GL,R
475,USAP,USC,J19 USAP - USC,Rynard Landman,SECONDE LIGNE,USC,USAP,Dropped Ball Unforced,50 - 22,CL
475,USAP,USC,J19 USAP - USC,Darrell Dyer,TROISIEME LIGNE AILE,USC,USAP,Dropped Ball Unforced,22 - 50,C

In [40]:
turnovers.isnull().sum()/len(turnovers)*100

DOMICILE                 0.227015
EXTERIEUR                0.068104
MATCH                    0.000000
JOUEUR                   0.317821
POSTE                    1.248581
EQUIPE                   0.045403
ADV                      0.000000
TYPE TURNOVER CONCEDE    0.249716
Field Area               0.090806
Field L-R                0.000000
dtype: float64

In [22]:
turnovers.describe()

          iD MATCH  PORTEUR -
count  4405.000000        0.0
mean    417.091033        NaN
std      53.025649        NaN
min     325.000000        NaN
25%     372.000000        NaN
50%     416.000000        NaN
75%     464.000000        NaN
max     508.000000        NaN

In [24]:
turnovers.dtypes

iD MATCH                   int64
SAISON                    object
COMPETITION               object
BLOC                      object
SEMAINE                   object
DATE                      object
JOURNEE                   object
DOMICILE                  object
EXTERIEUR                 object
MATCH                     object
Start time                object
JOUEUR                    object
POSTE                     object
EQUIPE                    object
ADV                       object
TYPE TURNOVER CONCEDE     object
Field Area                object
Field L-R                 object
PORTEUR -                float64
dtype: object

In [46]:
turnovers.head

<bound method NDFrame.head of          DOMICILE EXTERIEUR           MATCH                    JOUEUR  \
iD MATCH
475          USAP       USC  J19 USAP - USC           Quentin Etienne
475          USAP       USC  J19 USAP - USC            Julien Facundo
475          USAP       USC  J19 USAP - USC  Christiaan van der Merwe
475          USAP       USC  J19 USAP - USC            Rynard Landman
475          USAP       USC  J19 USAP - USC              Darrell Dyer
...           ...       ...             ...                       ...
354           OYO       AIX   J04 OYO - AIX                Tony Ensor
354           OYO       AIX   J04 OYO - AIX                Tony Ensor
354           OYO       AIX   J04 OYO - AIX                Tony Ensor
354           OYO       AIX   J04 OYO - AIX                Tony Ensor
354           OYO       AIX   J04 OYO - AIX             Frans van Wyk

                         POSTE EQUIPE   ADV  TYPE TURNOVER CONCEDE Field Area  \
iD MATCH
475                    ARRIERE   USAP   USC  Dropped Ball Unforced    22 - 50
475                     PILIER    USC  USAP  Dropped Ball Unforced    50 - 22
475              SECONDE LIGNE    USC  USAP     Carried Into Touch    22 - GL
475              SECONDE LIGNE    USC  USAP  Dropped Ball Unforced    50 - 22
475       TROISIEME LIGNE AILE    USC  USAP  Dropped Ball Unforced    22 - 50
...                        ...    ...   ...                    ...        ...
354                    ARRIERE    OYO   AIX    Dropped Ball Forced    50 - 22
354                    ARRIERE    OYO   AIX  Dropped Ball Unforced    22 - 50
354                    ARRIERE    OYO   AIX  Dropped Ball Unforced    22 - 50
354                    ARRIERE    OYO   AIX  Dropped Ball Unforced    50 - 22
354                     PILIER    OYO   AIX      Lost at Breakdown    22 - 50

         Field L-R
iD MATCH
475              L
475              R
475              R
475             CL
475              C
...            ...
354             CL
354             CR
354              R
354              C
354             CR

[4405 rows x 10 columns]>